.cl,.q2,footer,header#header,section.a0.d4 {
    display: block
}

.q2,.q5.qc,.q5.t6 {
    display: flex
}

.r3,footer,header#header,section.d7 {
    contain: layout
}

.words.chars.splitting {
    contain: style
}

@font-face {
    font-family: Maxi-Bold;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../glyph/fonts/c734ed8e-5b89-4cd7-8466-3c1d40aef5ef.woff2) format('woff2')
}

@font-face {
    font-family: Maxi-Book;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../glyph/fonts/0e662f70-ee40-4614-a714-d437cac98931.woff2) format('woff2')
}

@font-face {
    font-family: Headline-latin;
    font-display: block;
    font-display: swap;
    src: url(../glyph/fonts/aDroSsCnghgiD2zfA.woff2) format('woff2')
}

@font-face {
    font-family: Paragraph-latin;
    font-display: block;
    font-display: swap;
    src: url(../glyph/fonts/BO36vszZiTsOZl0EU6lwLA.woff2) format('woff2')
}

@font-face {
    font-family: Headline;
    font-display: block;
    font-display: swap;
    src: url(../glyph/fonts/0riZAg9DWwU5kpFJLospk.woff2) format('woff2')
}

@font-face {
    font-family: Paragraph;
    font-weight: 400;
    font-display: block;
    font-display: swap;
    src: local('PingFang SC'),url(../glyph/fonts/1biG4fCp4awqMbo8gHagY.woff2) format('woff2')
}

@font-face {
    font-family: Che-Cursive;
    font-display: block;
    font-display: swap;
    src: url(../glyph/fonts/kdw16Y7z20EI7SFf.woff2) format('woff2')
}

@font-face {
    font-family: bt-arrows;
    font-weight: 600;
    font-display: swap;
    src: url(../glyph/fonts/600-1b26381e.woff2) format('woff2')
}

@font-face {
    font-family: bt-clean;
    font-weight: 700;
    font-display: swap;
    src: url(../glyph/fonts/00000000000000003b9b3f88.woff2) format('woff2')
}

.w8 .w9 {
    background: var(--bg-card)
}

.q5>.cl {
    position: relative;
    width: 100%;
    padding: 0 5.88235%
}

.q6 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 6.66667%;
    grid-auto-flow: dense
}

.t6 .co h4,.w5,.w8 h2 {
    font-family: Headline-latin,Headline;
    line-height: 1.4
}

.q8,.w5 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .05em;
    text-transform: uppercase
}

.q8.la {
    font-size: 18px;
    color: var(--w4Color)
}

.q8 {
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 1.5px currentColor
}

.o5 .q6 {
    padding: 40px 0;
    border-bottom: 5px solid var(--w4Color);
    align-items: end;
    grid-row-gap: 30px
}

@media(min-width: 670px) {
    .o5 .q6 {
        padding:60px 0
    }
}

@media(min-width: 880px) {
    .o5 .q6 {
        padding:80px 0
    }
}

.o5 .ar+.cl .q6 {
    border-top: 5px solid var(--w4Color)
}

.o5 .ma {
    color: var(--text);
    grid-column: 1/-1
}

.o5 .ma .q7 {
    display: inline-block;
    margin-bottom: 15px;
    transition: box-shadow .15s
}

@media(min-width: 1040px) {
    .o5 .ma .q7 {
        margin-bottom:20px
    }
}

.o5 .w4 {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    transition: color .15s;
    grid-column: 1/-1
}

@media(min-width: 880px) {
    .o5 .w4 {
        max-width:none;
        grid-column: span 2
    }
}

.o4 .cl {
    max-width: 1440px
}

.a9.d5 {
    pointer-events: none
}

.a9.light {
    color: var(--head-logo-inverse)
}

.r8 {
    font-weight: 400
}

.w7 {
    display: inline-flex;
    overflow: hidden;
    max-width: 100%;
    text-align: left;
    box-shadow: inset 0 0 0 1px currentColor
}

.splitting .char,.splitting .word {
    display: inline-block
}

.splitting .char {
    position: relative
}

.ma .char {
    display: inline-block;
    -webkit-transition: all .25s calc(.25s + var(--char-index) * .1s);
    transition: all .25s calc(.25s + var(--char-index) * .1s);
    -webkit-animation-delay: calc(.25s + var(--char-index) * .1s);
    animation-delay: calc(.25s + var(--char-index) * .1s)
}

.q9 [data-scroll=in] {
    position: relative;
    overflow: hidden
}

.q9 [data-scroll=in] .char {
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.q9 [data-scroll=in]:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-animation: block .5s .25s both;
    animation: block .5s .25s both;
    background: var(--w4Color)
}

@-webkit-keyframes block {
    0% {
        -webkit-transform: translate(-110%,0);
        transform: translate(-110%,0)
    }

    45%,55% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0)
    }

    100% {
        -webkit-transform: translate(110%,0);
        transform: translate(110%,0)
    }
}

@keyframes block {
    0% {
        -webkit-transform: translate(-110%,0);
        transform: translate(-110%,0)
    }

    45%,55% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0)
    }

    100% {
        -webkit-transform: translate(110%,0);
        transform: translate(110%,0)
    }
}

h1.te.q9,h1.te.q9.words.chars.splitting {
    font-family: Headline-latin,Headline;
    font-size: clamp(1.875rem,1.6964rem + .8929vw,2.5rem);
    font-size: clamp(2.25rem,2.1429rem + .5357vw,2.625rem);
    font-weight: 400;
    line-height: 1.4;
    min-height: 69px;
    letter-spacing: .025em;
    color: var(--title);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    contain: paint
}

@media(min-width: 1040px) {
    h1.te.q9,h1.te.q9.words.chars.splitting {
        min-height:74px
    }
}

.splitting .char::after,.splitting .char::before {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    content: attr(data-char);
    user-select: none;
    transition: inherit
}

.splitting {
    --word-center:calc((var(--word-total) - 1) / 2);--char-center:calc((var(--char-total) - 1) / 2);--line-center:calc((var(--line-total) - 1) / 2)}

.splitting .word {
    --word-percent:calc(var(--word-index) / var(--word-total));--line-percent:calc(var(--line-index) / var(--line-total))}

.splitting .char {
    --char-percent:calc(var(--char-index) / var(--char-total));--char-offset:calc(var(--char-index) - var(--char-center));--distance:calc((var(--char-offset) * var(--char-offset)) / var(--char-center));--distance-sine:calc(var(--char-offset) / var(--char-center));--distance-percent:calc((var(--distance) / var(--char-center)))}

h2.splitting .char {
    -webkit-transition: opacity .3s linear,-webkit-transform .3s cubic-bezier(.3,0,.3,1);
    transition: opacity .3s linear,-webkit-transform .3s cubic-bezier(.3,0,.3,1);
    transition: transform .3s cubic-bezier(.3,0,.3,1),opacity .3s linear;
    transition: transform .3s cubic-bezier(.3,0,.3,1),opacity .3s linear,-webkit-transform .3s cubic-bezier(.3,0,.3,1);
    -webkit-transition-delay: calc(20ms * var(--char-index));
    transition-delay: calc(20ms * var(--char-index))
}

h2.splitting[data-scroll=out] .char {
    -webkit-transform: translateY(.25em);
    transform: translateY(.25em);
    opacity: .1
}

.medium-zoom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
    opacity: 0;
    will-change: opacity
}

.medium-zoom--opened .medium-zoom-overlay {
    cursor: pointer;
    cursor: zoom-out;
    opacity: 1
}

.u4 {
    cursor: pointer;
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2,0,.2,1)!important
}

.u4--hidden {
    visibility: hidden
}

.u4--opened {
    position: relative;
    cursor: pointer;
    cursor: zoom-out;
    will-change: transform
}

.r3 [data-scroll] {
    -webkit-transition: all 1.5s cubic-bezier(.165,.84,.44,1);
    transition: all 1.5s cubic-bezier(.165,.84,.44,1);
    -webkit-transform: translateY(6rem) scale(.93);
    transform: translateY(6rem) scale(.93);
    opacity: 0;
    will-change: transform,scale,opacity
}

.r3 [data-scroll=in] {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1
}

.r3 svg {
    fill: #fff
}

.tm {
    display: -webkit-box;
    text-align: center;
    -webkit-flex-direction: column
}

.tm,.ts3 {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.tm {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ts3 {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0/8%);
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.ts0,.ts1 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center
}

.ts0 {
    display: flex;
    margin-bottom: 20px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ts1 {
    display: flex;
    -webkit-transform: translate(300px,0);
    -ms-transform: translate(300px,0);
    transform: translate(300px,0);
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width: 991px) {
    .tm {
        margin-top:0
    }
}

@media screen and (max-width: 767px) {
    .ts0 {
        -webkit-box-direction:normal;
        -webkit-flex-direction: row;
        -webkit-box-orient: horizontal
    }

    .ts3 {
        width: 175px;
        margin: 5px 10px
    }

    .ts0 {
        flex-direction: row;
        width: 100vw;
        margin-bottom: 0;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        -ms-flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .ts1 {
        display: none
    }

    .ts1.ts2 {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media screen and (max-width: 479px) {
    .ts3 {
        width:165px
    }

    .ts0 {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .ts1.ts2 {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.ts6 {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

img.ts6 {
    filter: brightness(74%)
}

img.lazyload:not([src]) {
    visibility: hidden
}

.ts4 {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: none
}

.ts4:hover {
    border: none
}

.ts4:after {
    display: block;
    padding-bottom: 100%;
    content: ''
}

.ts5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left bottom,left top,from(transparent),to(rgba(0,0,0,.4)));
    background: linear-gradient(0deg,transparent,rgba(0,0,0,.4))
}

.h0 {
    height: auto
}

img.y5 {
    width: 100%;
    height: auto
}

.ts7 {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

html[dir=ltr] .ts7 {
    right: 0;
    -webkit-transform: rotate(25deg) translate(18%,-2%);
    transform: rotate(25deg) translate(18%,-2%)
}

.af span,.af-hover:hover span {
    -webkit-animation-name: af-keys;
    animation-name: af-keys;
    -webkit-animation-duration: 50s;
    animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes af-keys {
    0% {
        color: #ce5cd6
    }

    5% {
        color: #be5cd6
    }

    10% {
        color: #5cd6c8
    }

    15% {
        color: #d25cd6
    }

    20% {
        color: #d65ca5
    }

    25% {
        color: #5c97d6
    }

    30% {
        color: #d6c25c
    }

    35% {
        color: #ab5cd6
    }

    40% {
        color: #c65cd6
    }

    45% {
        color: #d67a5c
    }

    50% {
        color: #5c6cd6
    }

    55% {
        color: #d65c9b
    }

    60% {
        color: #d65c62
    }

    65% {
        color: #5c68d6
    }

    70% {
        color: #d6bc5c
    }

    75% {
        color: #5cd4d6
    }

    80% {
        color: #5cd69f
    }

    85% {
        color: #a7d65c
    }

    90% {
        color: #5c7ed6
    }

    95% {
        color: #76d65c
    }

    100% {
        color: #d0d65c
    }
}

@keyframes af-keys {
    0% {
        color: #ce5cd6
    }

    5% {
        color: #be5cd6
    }

    10% {
        color: #5cd6c8
    }

    15% {
        color: #d25cd6
    }

    20% {
        color: #d65ca5
    }

    25% {
        color: #5c97d6
    }

    30% {
        color: #d6c25c
    }

    35% {
        color: #ab5cd6
    }

    40% {
        color: #c65cd6
    }

    45% {
        color: #d67a5c
    }

    50% {
        color: #5c6cd6
    }

    55% {
        color: #d65c9b
    }

    60% {
        color: #d65c62
    }

    65% {
        color: #5c68d6
    }

    70% {
        color: #d6bc5c
    }

    75% {
        color: #5cd4d6
    }

    80% {
        color: #5cd69f
    }

    85% {
        color: #a7d65c
    }

    90% {
        color: #5c7ed6
    }

    95% {
        color: #76d65c
    }

    100% {
        color: #d0d65c
    }
}

.af span:nth-of-type(1),.af-hover:hover span:nth-of-type(1) {
    -webkit-animation-delay: -19.8s;
    animation-delay: -19.8s
}

.af span:nth-of-type(2),.af-hover:hover span:nth-of-type(2) {
    -webkit-animation-delay: -19.6s;
    animation-delay: -19.6s
}

.af span:nth-of-type(3),.af-hover:hover span:nth-of-type(3) {
    -webkit-animation-delay: -19.4s;
    animation-delay: -19.4s
}

.af span:nth-of-type(4),.af-hover:hover span:nth-of-type(4) {
    -webkit-animation-delay: -19.2s;
    animation-delay: -19.2s
}

.af span:nth-of-type(5),.af-hover:hover span:nth-of-type(5) {
    -webkit-animation-delay: -19s;
    animation-delay: -19s
}

.af span:nth-of-type(6),.af-hover:hover span:nth-of-type(6) {
    -webkit-animation-delay: -18.8s;
    animation-delay: -18.8s
}

.af span:nth-of-type(7),.af-hover:hover span:nth-of-type(7) {
    -webkit-animation-delay: -18.6s;
    animation-delay: -18.6s
}

.af span:nth-of-type(8),.af-hover:hover span:nth-of-type(8) {
    -webkit-animation-delay: -18.4s;
    animation-delay: -18.4s
}

.af span:nth-of-type(9),.af-hover:hover span:nth-of-type(9) {
    -webkit-animation-delay: -18.2s;
    animation-delay: -18.2s
}

.af span:nth-of-type(10),.af-hover:hover span:nth-of-type(10) {
    -webkit-animation-delay: -18s;
    animation-delay: -18s
}

.af span:nth-of-type(11),.af-hover:hover span:nth-of-type(11) {
    -webkit-animation-delay: -17.8s;
    animation-delay: -17.8s
}

.af span:nth-of-type(12),.af-hover:hover span:nth-of-type(12) {
    -webkit-animation-delay: -17.6s;
    animation-delay: -17.6s
}

.af span:nth-of-type(13),.af-hover:hover span:nth-of-type(13) {
    -webkit-animation-delay: -17.4s;
    animation-delay: -17.4s
}

.af span:nth-of-type(14),.af-hover:hover span:nth-of-type(14) {
    -webkit-animation-delay: -17.2s;
    animation-delay: -17.2s
}

.af span:nth-of-type(15),.af-hover:hover span:nth-of-type(15) {
    -webkit-animation-delay: -17s;
    animation-delay: -17s
}

.af span:nth-of-type(16),.af-hover:hover span:nth-of-type(16) {
    -webkit-animation-delay: -16.8s;
    animation-delay: -16.8s
}

.af span:nth-of-type(17),.af-hover:hover span:nth-of-type(17) {
    -webkit-animation-delay: -16.6s;
    animation-delay: -16.6s
}

.af span:nth-of-type(18),.af-hover:hover span:nth-of-type(18) {
    -webkit-animation-delay: -16.4s;
    animation-delay: -16.4s
}

.af span:nth-of-type(19),.af-hover:hover span:nth-of-type(19) {
    -webkit-animation-delay: -16.2s;
    animation-delay: -16.2s
}

.af span:nth-of-type(20),.af-hover:hover span:nth-of-type(20) {
    -webkit-animation-delay: -16s;
    animation-delay: -16s
}

.af span:nth-of-type(21),.af-hover:hover span:nth-of-type(21) {
    -webkit-animation-delay: -15.8s;
    animation-delay: -15.8s
}

.af span:nth-of-type(22),.af-hover:hover span:nth-of-type(22) {
    -webkit-animation-delay: -15.6s;
    animation-delay: -15.6s
}

.af span:nth-of-type(23),.af-hover:hover span:nth-of-type(23) {
    -webkit-animation-delay: -15.4s;
    animation-delay: -15.4s
}

.af span:nth-of-type(24),.af-hover:hover span:nth-of-type(24) {
    -webkit-animation-delay: -15.2s;
    animation-delay: -15.2s
}

.af span:nth-of-type(25),.af-hover:hover span:nth-of-type(25) {
    -webkit-animation-delay: -15s;
    animation-delay: -15s
}

.af span:nth-of-type(26),.af-hover:hover span:nth-of-type(26) {
    -webkit-animation-delay: -14.8s;
    animation-delay: -14.8s
}

.af span:nth-of-type(27),.af-hover:hover span:nth-of-type(27) {
    -webkit-animation-delay: -14.6s;
    animation-delay: -14.6s
}

.af span:nth-of-type(28),.af-hover:hover span:nth-of-type(28) {
    -webkit-animation-delay: -14.4s;
    animation-delay: -14.4s
}

.af span:nth-of-type(29),.af-hover:hover span:nth-of-type(29) {
    -webkit-animation-delay: -14.2s;
    animation-delay: -14.2s
}

.af span:nth-of-type(30),.af-hover:hover span:nth-of-type(30) {
    -webkit-animation-delay: -14s;
    animation-delay: -14s
}

.af span:nth-of-type(31),.af-hover:hover span:nth-of-type(31) {
    -webkit-animation-delay: -13.8s;
    animation-delay: -13.8s
}

.af span:nth-of-type(32),.af-hover:hover span:nth-of-type(32) {
    -webkit-animation-delay: -13.6s;
    animation-delay: -13.6s
}

.af span:nth-of-type(33),.af-hover:hover span:nth-of-type(33) {
    -webkit-animation-delay: -13.4s;
    animation-delay: -13.4s
}

.af span:nth-of-type(34),.af-hover:hover span:nth-of-type(34) {
    -webkit-animation-delay: -13.2s;
    animation-delay: -13.2s
}

.af span:nth-of-type(35),.af-hover:hover span:nth-of-type(35) {
    -webkit-animation-delay: -13s;
    animation-delay: -13s
}

.af span:nth-of-type(36),.af-hover:hover span:nth-of-type(36) {
    -webkit-animation-delay: -12.8s;
    animation-delay: -12.8s
}

.af span:nth-of-type(37),.af-hover:hover span:nth-of-type(37) {
    -webkit-animation-delay: -12.6s;
    animation-delay: -12.6s
}

.af span:nth-of-type(38),.af-hover:hover span:nth-of-type(38) {
    -webkit-animation-delay: -12.4s;
    animation-delay: -12.4s
}

.af span:nth-of-type(39),.af-hover:hover span:nth-of-type(39) {
    -webkit-animation-delay: -12.2s;
    animation-delay: -12.2s
}

.af span:nth-of-type(40),.af-hover:hover span:nth-of-type(40) {
    -webkit-animation-delay: -12s;
    animation-delay: -12s
}

.af span:nth-of-type(41),.af-hover:hover span:nth-of-type(41) {
    -webkit-animation-delay: -11.8s;
    animation-delay: -11.8s
}

.af span:nth-of-type(42),.af-hover:hover span:nth-of-type(42) {
    -webkit-animation-delay: -11.6s;
    animation-delay: -11.6s
}

.af span:nth-of-type(43),.af-hover:hover span:nth-of-type(43) {
    -webkit-animation-delay: -11.4s;
    animation-delay: -11.4s
}

.af span:nth-of-type(44),.af-hover:hover span:nth-of-type(44) {
    -webkit-animation-delay: -11.2s;
    animation-delay: -11.2s
}

.af span:nth-of-type(45),.af-hover:hover span:nth-of-type(45) {
    -webkit-animation-delay: -11s;
    animation-delay: -11s
}

.af span:nth-of-type(46),.af-hover:hover span:nth-of-type(46) {
    -webkit-animation-delay: -10.8s;
    animation-delay: -10.8s
}

.af span:nth-of-type(47),.af-hover:hover span:nth-of-type(47) {
    -webkit-animation-delay: -10.6s;
    animation-delay: -10.6s
}

.af span:nth-of-type(48),.af-hover:hover span:nth-of-type(48) {
    -webkit-animation-delay: -10.4s;
    animation-delay: -10.4s
}

.af span:nth-of-type(49),.af-hover:hover span:nth-of-type(49) {
    -webkit-animation-delay: -10.2s;
    animation-delay: -10.2s
}

.af span:nth-of-type(50),.af-hover:hover span:nth-of-type(50) {
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.af span:nth-of-type(51),.af-hover:hover span:nth-of-type(51) {
    -webkit-animation-delay: -9.8s;
    animation-delay: -9.8s
}

.af span:nth-of-type(52),.af-hover:hover span:nth-of-type(52) {
    -webkit-animation-delay: -9.6s;
    animation-delay: -9.6s
}

.af span:nth-of-type(53),.af-hover:hover span:nth-of-type(53) {
    -webkit-animation-delay: -9.4s;
    animation-delay: -9.4s
}

.af span:nth-of-type(54),.af-hover:hover span:nth-of-type(54) {
    -webkit-animation-delay: -9.2s;
    animation-delay: -9.2s
}

.af span:nth-of-type(55),.af-hover:hover span:nth-of-type(55) {
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.af span:nth-of-type(56),.af-hover:hover span:nth-of-type(56) {
    -webkit-animation-delay: -8.8s;
    animation-delay: -8.8s
}

.af span:nth-of-type(57),.af-hover:hover span:nth-of-type(57) {
    -webkit-animation-delay: -8.6s;
    animation-delay: -8.6s
}

.af span:nth-of-type(58),.af-hover:hover span:nth-of-type(58) {
    -webkit-animation-delay: -8.4s;
    animation-delay: -8.4s
}

.af span:nth-of-type(59),.af-hover:hover span:nth-of-type(59) {
    -webkit-animation-delay: -8.2s;
    animation-delay: -8.2s
}

.af span:nth-of-type(60),.af-hover:hover span:nth-of-type(60) {
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.af span:nth-of-type(61),.af-hover:hover span:nth-of-type(61) {
    -webkit-animation-delay: -7.8s;
    animation-delay: -7.8s
}

.af span:nth-of-type(62),.af-hover:hover span:nth-of-type(62) {
    -webkit-animation-delay: -7.6s;
    animation-delay: -7.6s
}

.af span:nth-of-type(63),.af-hover:hover span:nth-of-type(63) {
    -webkit-animation-delay: -7.4s;
    animation-delay: -7.4s
}

.af span:nth-of-type(64),.af-hover:hover span:nth-of-type(64) {
    -webkit-animation-delay: -7.2s;
    animation-delay: -7.2s
}

.af span:nth-of-type(65),.af-hover:hover span:nth-of-type(65) {
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.af span:nth-of-type(66),.af-hover:hover span:nth-of-type(66) {
    -webkit-animation-delay: -6.8s;
    animation-delay: -6.8s
}

.af span:nth-of-type(67),.af-hover:hover span:nth-of-type(67) {
    -webkit-animation-delay: -6.6s;
    animation-delay: -6.6s
}

.af span:nth-of-type(68),.af-hover:hover span:nth-of-type(68) {
    -webkit-animation-delay: -6.4s;
    animation-delay: -6.4s
}

.af span:nth-of-type(69),.af-hover:hover span:nth-of-type(69) {
    -webkit-animation-delay: -6.2s;
    animation-delay: -6.2s
}

.af span:nth-of-type(70),.af-hover:hover span:nth-of-type(70) {
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.af span:nth-of-type(71),.af-hover:hover span:nth-of-type(71) {
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s
}

.af span:nth-of-type(72),.af-hover:hover span:nth-of-type(72) {
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s
}

.af span:nth-of-type(73),.af-hover:hover span:nth-of-type(73) {
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s
}

.af span:nth-of-type(74),.af-hover:hover span:nth-of-type(74) {
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s
}

.af span:nth-of-type(75),.af-hover:hover span:nth-of-type(75) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.af span:nth-of-type(76),.af-hover:hover span:nth-of-type(76) {
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s
}

.af span:nth-of-type(77),.af-hover:hover span:nth-of-type(77) {
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s
}

.af span:nth-of-type(78),.af-hover:hover span:nth-of-type(78) {
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s
}

.af span:nth-of-type(79),.af-hover:hover span:nth-of-type(79) {
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s
}

.af span:nth-of-type(80),.af-hover:hover span:nth-of-type(80) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.af span:nth-of-type(81),.af-hover:hover span:nth-of-type(81) {
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s
}

.af span:nth-of-type(82),.af-hover:hover span:nth-of-type(82) {
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s
}

.af span:nth-of-type(83),.af-hover:hover span:nth-of-type(83) {
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s
}

.af span:nth-of-type(84),.af-hover:hover span:nth-of-type(84) {
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s
}

.af span:nth-of-type(85),.af-hover:hover span:nth-of-type(85) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.af span:nth-of-type(86),.af-hover:hover span:nth-of-type(86) {
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s
}

.af span:nth-of-type(87),.af-hover:hover span:nth-of-type(87) {
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s
}

.af span:nth-of-type(88),.af-hover:hover span:nth-of-type(88) {
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s
}

.af span:nth-of-type(89),.af-hover:hover span:nth-of-type(89) {
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s
}

.af span:nth-of-type(90),.af-hover:hover span:nth-of-type(90) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.af span:nth-of-type(91),.af-hover:hover span:nth-of-type(91) {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s
}

.af span:nth-of-type(92),.af-hover:hover span:nth-of-type(92) {
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s
}

.af span:nth-of-type(93),.af-hover:hover span:nth-of-type(93) {
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s
}

.af span:nth-of-type(94),.af-hover:hover span:nth-of-type(94) {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s
}

.af span:nth-of-type(95),.af-hover:hover span:nth-of-type(95) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.af span:nth-of-type(96),.af-hover:hover span:nth-of-type(96) {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.af span:nth-of-type(97),.af-hover:hover span:nth-of-type(97) {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.af span:nth-of-type(98),.af-hover:hover span:nth-of-type(98) {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.af span:nth-of-type(99),.af-hover:hover span:nth-of-type(99) {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.af span:nth-of-type(100),.af-hover:hover span:nth-of-type(100) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

h3.tt.r5 svg,h3.tt.r8 svg {
    position: relative;
    top: .125em;
    height: 1em
}

.placeholder {
    user-select: none;
    text-align: justify;
    pointer-events: none;
    background-color: transparent
}

.placeholder__word {
    color: #595959;
    border-radius: 3px;
    background: #595959
}

.q2,.y9 {
    display: var(--displaz)
}

.u1,section.d7 {
    display: var(--displax)
}

.r3 {
    contain-intrinsic-size: 720px
}

.medium-zoom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
    opacity: 0;
    will-change: opacity
}

.medium-zoom--opened .medium-zoom-overlay {
    cursor: pointer;
    cursor: zoom-out;
    opacity: 1
}

.u4 {
    cursor: pointer;
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2,0,.2,1)!important
}

.u4--hidden {
    visibility: hidden
}

.u4--opened {
    position: relative;
    cursor: pointer;
    cursor: zoom-out;
    will-change: transform
}

figure,h1,h2,h3,h4,img,p,ul {
    margin: 0;
    padding: 0
}

img {
    filter: var(--img-filter-gray)
}

em {
    font-style: inherit
}

.te.t1 h2 {
    font-family: Che-Cursive,Headline;
    font-size: clamp(2.0625rem,1.8661rem + .9821vw,2.75rem);
    line-height: 1.2;
    color: #fff
}

.w5.xl {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .175em
}

.r4 {
    font-family: Paragraph-latin,classic grotesque w01,avenir next,Paragraph,segoe ui,helvetica neue,Arial,hiragino sans gb,pingfang sc,heiti sc,microsoft yahei ui,microsoft yahei,source han sans,sans-serif
}

.r5 {
    font-size: clamp(1.5rem,1.4643rem + .1786vw,1.625rem);
    letter-spacing: -.015em
}

.r6.sl {
    font-size: 19px
}

.w3.la {
    font-size: clamp(1.1875rem,1.0982rem + .4464vw,1.5rem);
    color: #888
}

.t2 {
    transition: color .15s;
    white-space: nowrap
}

.t2:after,.t2:before {
    font-family: bt-arrows;
    display: none;
    padding-left: .4em;
    content: '➞';
    transition: transform .15s
}

.t2:not(.left):after {
    display: inline-block
}

.t2:not(.left):hover:after {
    transform: translateX(.3em)
}

.q2 {
    position: relative;
    --input-size:52px}

.q2 .bo {
    display: flex;
    display: grid;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    justify-content: center;
    grid-column: 1/-1;
    grid-template-columns: 1fr;
    grid-gap: 40px
}

@media(min-width: 670px) {
    .q2 .bo {
        grid-template-columns:repeat(2,1fr)
    }
}

@media(min-width: 880px) {
    .q2 .bo {
        padding:60px
    }
}

@media(min-width: 1040px) {
    .q2 .bo {
        grid-column:2/span 4
    }
}

.q2 .bo h2 {
    margin: 0;
    padding: 0
}

.q2 .bo p,.w8 .w9 a h2 {
    margin: 10px 0 0
}

.q2 .so {
    position: relative;
    z-index: 1
}

.q2 .t3 {
    display: flex;
    max-width: none;
    margin: -40px -40px -80px -20px;
    box-shadow: none!important;
    align-items: flex-end;
    justify-content: flex-end
}

.q2 .t3 canvas,.q2 .t3 figure {
    width: 100%;
    max-width: 300px
}

@media(max-width: 540px) {
    .q2 .t3 {
        margin-top:-10px
    }
}

@media(min-width: 880px) {
    .q2 .t3 {
        margin:-2px -60px -150px -30px
    }

    .q2 .t3 canvas,.q2 .t3 figure {
        max-width: none
    }
}

@media(min-width: 1040px) {
    .q2 .t3 {
        margin-left:-40px
    }
}

.cr,.q2 .q4 {
    background: #1c1d1f
}

.q2 .q4 .bo {
    background: #fff;
    align-items: end
}

.q2 .q4 p {
    color: #767676
}

.cr {
    font-family: Maxi-Book;
    padding-bottom: 80px;
    color: #767676
}

h2.w5.xl.cr.af {
    font-size: clamp(1.5625rem,1.5089rem + .2679vw,1.75rem)
}

@media(min-width: 1040px) {
    .cr {
        padding-bottom:100px
    }
}

.cr .cl>h2 {
    margin: 100px 0 10px;
    text-align: center
}

@media(min-width: 880px) {
    .cr .cl>h2 {
        margin:100px 0 60px
    }
}

@media(min-width: 1040px) {
    .cr .cl>h2 {
        margin-top:120px
    }
}

.cr .as {
    grid-row-gap: 40px
}

@media(min-width: 1040px) {
    .cr .as {
        grid-row-gap:60px
    }
}

@media(min-width: 1160px) {
    .cr .as {
        grid-row-gap:80px
    }
}

.r2 .ea>span {
    display: flex;
    padding: .25em .65em;
    flex: 1;
    align-items: center
}

.w7.ti .tt {
    font-size: 18px;
    font-family: bt-clean;
    overflow: hidden;
    padding: .4em .5em;
    white-space: nowrap;
    text-overflow: ellipsis
}

.r4 {
    display: flex;
    padding: 41px 0 40px;
    box-shadow: inset 0 1.5px 0 #ccc,0 1.5px 0 #ccc;
    grid-column: 1/-1
}

@media(min-width: 880px) {
    .r4 {
        padding:61px 0 60px;
        grid-column: span 2
    }
}

@media(min-width: 1040px) {
    .r4 {
        padding:81px 0 80px
    }
}

@media(min-width: 1160px) {
    .r4 {
        padding:101px 0 100px
    }
}

.r4>a {
    display: block;
    width: 100%
}

.r4 .te {
    margin-top: 30px
}

.r4 .te .tt {
    margin-bottom: 10px;
    color: #000
}

.r4 .te .w2 {
    margin-bottom: -.3em;
    color: #6e6e73
}

.r4.fo {
    padding: 0;
    box-shadow: none
}

.r4.fo .te {
    margin-top: 20px
}

.r4.fo .te .tt {
    font-weight: 400;
    transition: color .15s;
    color: #ddd
}

@media(min-width: 880px) {
    .r4.fo .te .tt {
        color:#a1a1a6
    }
}

.r4.fo>a:hover .te .tt {
    color: #ddd
}

ul.q6.as li:nth-child(-n+3) {
    color: #d6658e;
    color: var(--w4Color)
}

ul.q6.as li:nth-child(4) {
    color: #707aed;
    color: #ff8400
}

ul.q6.as li:nth-child(5) {
    color: #00afbe;
    color: #48a902
}

ul.q6.as li:nth-child(6) {
    color: #d69336;
    color: #c0f
}

ul.q6.as li:nth-child(7) {
    color: #53a88e;
    color: #f73558
}

ul.q6.as li:nth-child(8) {
    color: #ef766e;
    color: #00aeff
}

ul.q6.as li:nth-child(9) {
    color: #8e65bf;
    color: #00c888
}

.w7.ti {
    filter: invert(1);
    filter: grayscale(10%) saturate(80%) contrast(80%)
}

.q3 em {
    font-style: italic
}

.q3 a {
    padding-bottom: .1em;
    transition-duration: .15s;
    transition-property: box-shadow
}

.q3 a:hover {
    box-shadow: 0 3px #767676
}

.q3.r9 {
    color: #fff
}

.q3.r9 a {
    color: #fff;
    box-shadow: 0 1.5px rgba(255,255,255,.5)
}

.q3.r9 a:hover {
    box-shadow: 0 3px rgba(255,255,255,.75)
}

.q3 p {
    margin: 20px 0
}

.q3 h2 a {
    padding-bottom: 0;
    color: inherit;
    box-shadow: none
}

.q3 h2 {
    font-size: clamp(1.5rem,1.4107rem + .4464vw,1.8125rem);
    font-size: clamp(1.8125rem,1.7232rem + .4464vw,2.125rem);
    font-weight: 400;
    margin: -20px 0 20px;
    letter-spacing: .025em;
    color: var(--title);
    contain: paint
}

.w8>h2:first-child:before {
    position: relative;
    display: block;
    width: 1.875rem;
    height: .25rem;
    margin: 0 0 1ex;
    content: '';
    background-color: var(--w4Color)
}

.q3 a,.q3 h2 a:hover {
    box-shadow: 0 1.5px #909090
}

.q3 h3 {
    font-family: Maxi-Book;
    margin: 40px 0 20px;
    letter-spacing: .1em;
    text-transform: uppercase
}

.q3 h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    text-transform: uppercase
}

.te.u8 h4 {
    font: 600 14px/1.5 Maxi-Book;
    letter-spacing: .125em;
    text-transform: uppercase
}

.q3 .o2,.q3 .sl,.q3 .sx,.q3.sl,.u8 p {
    font-size: 17px
}

.u8 p {
    font-size: 16px;
    line-height: 24px
}

.q3 .sl h4,.q3 .sx h4,.q3.sl h4 {
    color: #d96820
}

.q3 .sl h2,.q3 .sl h4,.q3 .sx h2,.q3 .sx h4,.q3.sl h4 {
    margin: 15px 0 10px;
    padding: 0
}

.q3 .sl p,.q3 .sx p,.q3.sl p {
    margin: 10px 0;
    padding: 0
}

.q3 .sx h2 {
    font-size: 26px;
    letter-spacing: .025em;
    color: var(--title)
}

.u8 h2 {
    line-height: 32px
}

.q3 .sl a,.q3 .sx a,.q3.sl a {
    padding-bottom: .05em;
    box-shadow: 0 1.5px #ccc
}

.q3 .sl a:hover,.q3 .sx a:hover,.q3.sl a:hover {
    box-shadow: 0 2px #909090
}

.o5 .ma .q7:hover {
    box-shadow: 0 3px 0 currentColor
}

.o5 .w4:hover {
    color: #000
}

.w8 {
    position: relative;
    clear: both;
    margin: 40px 0
}

@media(min-width: 670px) {
    .w8 {
        margin:60px 0
    }
}

@media(min-width: 880px) {
    .w8 {
        margin:80px 0
    }

    .w8>* {
        width: 64.44445%
    }

    .w8.fx>* {
        margin-left: auto
    }

    .w8.fx h2 {
        width: auto;
        margin-left: 35.55555%
    }
}

.w8>:first-child {
    margin-top: 0
}

.w8>h2:first-child {
    padding-top: 0
}

.w8>:last-child {
    margin-bottom: 0
}

.w8 .u5 {
    margin: 40px 0
}

@media(min-width: 880px) {
    .w8 .u5:not(.inline) {
        float:right;
        width: 28.88889%;
        margin: 5px 0 0
    }
}

.w8 .u5 :first-child,.w8 .w9 a .te :first-child {
    margin-top: 0
}

.w8 .u5 :last-child,.w8 .w9 a .te :last-child {
    margin-bottom: 0
}

.w8 .u5.df {
    padding: 40px 0;
    box-shadow: inset 0 1.5px 0 #ccc,inset 0 -1.5px 0 #ccc
}

@media(min-width: 880px) {
    .w8 .u5.df:not(.inline) {
        margin-top:8px;
        padding: 0;
        box-shadow: none
    }

    .w8.fx .u5 {
        float: left
    }
}

.w8 .w9 a {
    display: flex;
    flex-direction: column;
    box-shadow: none
}

.w8 .w9 a .te {
    padding: 30px
}

.w8 .o2 {
    display: block;
    padding: 15px 0;
    color: #6e6e73
}

.o2 svg {
    position: relative;
    top: .125em;
    display: inline-flex;
    width: 1em;
    height: 1em;
    align-self: center
}

@media(min-width: 880px) {
    .t6 {
        margin-top:20px
    }
}

@media(min-width: 1040px) {
    .t6 {
        margin-top:40px
    }
}

.t6 .co {
    padding-top: 30px;
    padding-bottom: 100px;
    border-top: 5px solid #909090
}

@media(min-width: 880px) {
    .t6 .co {
        padding-top:40px;
        padding-bottom: 120px
    }
}

@media(min-width: 1040px) {
    .t6 .co {
        padding-bottom:140px
    }
}

.t6 .te.te {
    margin: -.2em 0
}

.t6 .te.te>* {
    margin: 0
}

.t6 .te.te>*+* {
    margin-top: 5px
}

.t6 .t7 {
    grid-column: 1/-1
}

@media(min-width: 880px) {
    .t6 .t7 {
        grid-column:span 4
    }
}

.t6 .t7>div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 30px;
    align-items: start
}

@media(min-width: 420px) {
    .t6 .t7>div {
        grid-template-columns:auto 1fr
    }
}

.t6 .t7 .t9 {
    width: 100px
}

.t6 .t7 .t9 figure {
    width: 100%;
    padding-top: 75%;
    background-position: 50%;
    background-size: cover
}

.t6 .t5 {
    margin-top: 40px;
    padding-top: 41px;
    box-shadow: inset 0 1.5px 0 #ccc;
    grid-column: 1/-1
}

@media(min-width: 880px) {
    .t6 .t5 {
        margin-top:0;
        padding-top: 0;
        text-align: right;
        box-shadow: none;
        grid-column: span 2
    }
}

.u6.u7 {
    background-color: #e81f4b;
}

.u6.u7 .uv {
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
}

.t9.t8 {
    display: block;
    width: auto;
    margin: 0;
    border: 0;
    border-radius: 22.5%;
    -webkit-mask: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.41%22%20clip-rule%3D%22evenodd%22%20version%3D%221.1%22%20viewBox%3D%220%200%20460%20460%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M460%20316.1c0%205.5%200%2010.99-.04%2016.48-.03%204.63-.08%209.26-.2%2013.88a201.73%20201.73%200%200%201-2.66%2030.21c-1.71%2010-4.9%2019.68-9.47%2028.73a96.6%2096.6%200%200%201-42.23%2042.23%20101.86%20101.86%200%200%201-28.71%209.46c-10%201.65-20.1%202.54-30.22%202.66a649%20649%200%200%201-13.88.21c-5.5.03-10.99.03-16.48.03H143.89c-5.49%200-10.98%200-16.48-.03a648.8%20648.8%200%200%201-13.88-.2%20201.46%20201.46%200%200%201-30.22-2.67c-9.99-1.7-19.67-4.9-28.71-9.46a96.61%2096.61%200%200%201-42.23-42.22%20101.96%20101.96%200%200%201-9.47-28.74%20201.6%20201.6%200%200%201-2.66-30.2c-.12-4.63-.18-9.26-.2-13.89C0%20327.08%200%20321.6%200%20316.1V143.9c0-5.5%200-11%20.04-16.5.02-4.62.08-9.25.2-13.87a201.64%20201.64%200%200%201%202.66-30.2c1.71-10%204.9-19.68%209.47-28.74A96.6%2096.6%200%200%201%2054.6%2012.36%20101.96%20101.96%200%200%201%2083.3%202.9c10-1.64%2020.1-2.53%2030.22-2.66%204.63-.12%209.26-.18%2013.88-.2%205.5-.03%2011-.03%2016.48-.03H316.1c5.5%200%2011%200%2016.49.03a649%20649%200%200%201%2013.88.2c10.12.13%2020.22%201.02%2030.21%202.66%2010%201.71%2019.67%204.9%2028.72%209.46a96.58%2096.58%200%200%201%2042.24%2042.23%20101.92%20101.92%200%200%201%209.46%2028.73%20201.7%20201.7%200%200%201%202.66%2030.21c.12%204.63.18%209.26.2%2013.88.04%205.5.04%2010.99.04%2016.48V316.1z%22%2F%3E%3C%2Fsvg%3E%0A) center/100% 100% no-repeat
}

.t4 {
    width: 100%;
    max-width: 1000px;
    max-height: 635px
}

.t4 figure.y0 {
    margin-right: 0;
    margin-left: auto
}

@media(min-width: 670px) {
    .q2 .bo.t0 {
        display:block
    }

    .bo.t0 a.t3 {
        max-width: 60%!important;
        margin: 0 -40px -150px auto
    }
}

@media(min-width: 880px) {
    .bo.t0 a.t3 {
        margin:-20px -60px -150px auto
    }
}

@media(min-width: 1040px) {
    .bo.t0 a.t3 {
        max-width:60%!important;
        margin: -40px -60px -150px auto
    }

    .bo.t0 .te.t1 {
        max-width: 670px
    }

    .bo.t0 h2 {
        margin-bottom: 20px;
        margin-left: -10px
    }
}

@media(min-width: 1361px) {
    .bo.t0 a.t3 {
        margin:-60px -60px -150px auto
    }
}

.r0 .cl {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.r0 .r1 {
    position: relative;
    transition: color .15s;
    align-items: center
}

@media(min-width: 670px) {
    .r0 .r1 {
        display:flex
    }
}

.r0 .r1:hover {
    color: #000!important
}

.r0 .r1:after,.r0 .r1:before {
    position: absolute;
    content: ''
}

.r0 .r1:before {
    top: 50%;
    right: -18px;
    width: 18px;
    height: 1px;
    transform: translateY(-50%) scaleY(1.4);
    background: currentColor
}

.r0 .r1:after {
    top: 50%;
    right: -17px;
    width: 13px;
    height: 13px;
    transform: translateY(-50%) rotate(-45deg);
    box-shadow: inset -1.6px -1.6px 0 currentColor
}

.r0 .r1 .r2 {
    color: currentColor!important
}

.r2 {
    display: inline-flex;
    overflow: hidden;
    max-width: 100%;
    padding: 1px;
    text-align: left;
    box-shadow: inset 0 0 0 1.5px currentColor
}

.r2 .ea {
    display: flex;
    flex-direction: column;
    padding-right: 1px;
    white-space: nowrap;
    box-shadow: inset -1.5px 0 0 currentColor
}

.r2 .tt {
    align-self: center
}

.r2.ti {
    max-width: 100%;
    max-height: 52px
}

.r2.ti .tt {
    font-size: 18px;
    overflow: hidden;
    margin: 0;
    padding: .4em .5em;
    white-space: nowrap;
    text-overflow: ellipsis
}

a.r1,a.r1:hover {
    box-shadow: none
}

.cr,.q2 .q4 {
    background: 0 0
}

section.d4.a0 {
    background-color: var(--bg-inverse)
}

footer {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    color: var(--head-logo);
    border: none;
    background-color: var(--bg)
}

.y8 {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 62%;
    max-width: 240px;
    transform: translate(-50%,0)
}

.gg {
    width: 60px;
    margin-right: 0;
    margin-left: auto
}

.gg .sk {
    overflow: hidden;
    width: 60px;
    height: 60px
}

.gg .sk .u9 {
    padding: 15px;
    transition: all .3s .4s ease
}

.gg .sk .u9:last-child {
    transform: translatey(-60px)
}

.gg .sk .ic {
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.gg .sk .av {
    transition-delay: .1s
}

.gg .sk .av:first-child {
    transform: translatey(60px)
}

.gg .sk .av:last-child {
    transform: translatey(0)
}

.gg .sk .o1 {
    background-color: var(--title)
}

.gg .sk .moon {
    background-color: var(--title)
}

@keyframes flicker {
    0% {
        opacity: 1
    }

    3% {
        opacity: .4
    }

    6% {
        opacity: 1
    }

    7% {
        opacity: .4
    }

    8% {
        opacity: 1
    }

    9% {
        opacity: .4
    }

    10% {
        opacity: 1
    }

    89% {
        opacity: 1
    }

    90% {
        opacity: .4
    }

    100% {
        opacity: .4
    }
}

#lightning {
    animation: flicker 5s infinite 3s step-end
}

@keyframes glow-flicker {
    0% {
        opacity: 1
    }

    3% {
        opacity: 0
    }

    6% {
        opacity: 1
    }

    7% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    9% {
        opacity: 0
    }

    10% {
        opacity: 1
    }

    89% {
        opacity: 1
    }

    90% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

#L-glow {
    animation: glow-flicker 6s infinite step-end
}

footer,section.d6 {
    content-visibility: auto;
    contain-intrinsic-size: 1080px
}

section.y7 {
    height: calc(var(--footer-height) + 1px);
    background-color: transparent
}

.u0 {
    height: var(--footer-height);
    background-image: url(https://cabin.nei.st/bay/images/freeze/nn11575963.jpg);
    background-position: 50% 45%;
    background-size: cover
}

#gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1:#ef008f;--gradient-color-2:#6ec3f4;--gradient-color-3:#7038ff;--gradient-color-4:#ffba27}

svg.l5 {
    height: 14px;
    margin-top: 4px
}

.f3 {
    display: grid
}

.f4 {
    position: relative
}

.f5 {
    font-family: Che-Cursive,Headline;
    font-size: clamp(2.875rem,2.7679rem + .5357vw,3.25rem);
    line-height: 1.2;
    position: relative;
    display: -webkit-box;
    display: flex;
    margin-top: 200px;
    padding: 0 5.88235%;
    padding-left: calc(5.88235% - 5px);
    -webkit-box-align: end;
    align-items: flex-end
}

.f9 {
    font-size: 22px;
    padding: 30px 5.88235% 0
}

@media(min-width: 600px) {
    .f5 {
        min-width:calc(100% + 100px);
        min-height: 200px;
        padding: 0 11.7647%
    }

    .f9 {
        padding: 30px calc(11.7647% + 10px) 0
    }
}

.f7 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: .3;
    color: #3a3a3a
}

.f8 {
    opacity: 1;
    mix-blend-mode: color-burn
}

.f6 {
    position: absolute;
    bottom: 0;
    left: calc(var(--offsetX)*-1);
    overflow: hidden;
    width: var(--windowWidth);
    width: 100vw;
    min-width: 1000px;
    border: none;
    --offsetX:var(--gutterWidth)}

.i0 {
    position: relative;
    z-index: 2
}

.k6 {
    position: relative;
    left: 140px;
    margin-top: 60px
}

.i3 {
    position: absolute;
    top: 0;
    left: 230px
}

.i2 {
    font-size: 11px;
    line-height: 16px;
    display: grid;
    width: 929px;
    padding: var(--gutter);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: .2px;
    color: #425466;
    border-radius: 8px;
    background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),color-stop(25%,hsla(0,0%,100%,.3)),color-stop(50%,rgba(246,249,252,.3)),color-stop(60%,#f6f9fc));
    background: linear-gradient(hsla(0,0%,100%,.4),hsla(0,0%,100%,.3) 25%,rgba(246,249,252,.3) 50%,#f6f9fc 60%);
    box-shadow: inset 0 1px 1px 0 hsla(0,0%,100%,.1),0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
    --gutter:24px;grid: auto/152px 1fr;
    gap: var(--gutter)
}

.i4 {
    font-weight: 620;
    display: grid;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #fff;
    grid: -webkit-max-content/auto-flow -webkit-max-content;
    grid: max-content/auto-flow max-content;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center
}

.i5 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

.i6 {
    margin-top: var(--gutter);
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(6,24,44,.2)
}

.i7 {
    display: -webkit-box;
    display: flex;
    width: 50%;
    height: 20px;
    margin: 0;
    color: #62788d;
    -webkit-box-align: center;
    align-items: center
}

.i8 {
    width: 10px;
    margin: 1px 5px 0 6px
}

.i9 {
    padding: 10px
}

.k0 {
    font-weight: 620
}

.k1 {
    display: grid;
    padding: 0 6px;
    border-top: 1px solid #e6ebf1;
    grid: auto/repeat(3,1fr)
}

.k2,.k4 {
    padding: 12px 6px
}

.k4 {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

.k5 {
    margin: 6px 0 0;
    color: #62788d
}

.k3 {
    display: grid;
    padding: 0;
    grid-auto-rows: 1fr
}

.l1 {
    display: grid;
    grid: 80px/80px
}

.k9 {
    font-size: 11px;
    height: 100%;
    padding: 64px 16px 24px;
    letter-spacing: .2px;
    border-radius: 28px;
    background: #fff
}

.l0 {
    display: -webkit-box;
    display: flex;
    height: 80px;
    -webkit-box-pack: center;
    justify-content: center
}

.l2 {
    margin-top: 15px;
    text-align: center;
    color: #0a2540
}

.l3 {
    margin: 2px 0 16px;
    text-align: center
}

.l4 {
    padding: 5px 0;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: #0a2540;
    box-shadow: 0 2px 4px -1px rgba(50,50,93,.25),0 1px 3px -1px rgba(0,0,0,.3)
}

.l6 {
    margin: 16px 0 12px;
    text-align: center;
    background: -webkit-gradient(linear,left top,left bottom,from(#e6ebf1),to(#e6ebf1)) no-repeat 0 50%/100% 1px;
    background: linear-gradient(#e6ebf1,#e6ebf1) no-repeat 0 50%/100% 1px
}

.l7 {
    display: inline;
    padding: 0 6px;
    background: #fff
}

.l8 {
    line-height: 24px;
    min-height: 24px;
    margin: 6px 0 16px;
    color: #62788d;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(50,50,93,.07),0 2px 3px -1px rgba(50,50,93,.12),0 1px 3px -1px rgba(0,0,0,.12)
}

.l9 {
    display: grid;
    grid: auto/repeat(2,1fr)
}

.q0 {
    display: grid;
    padding-left: 8px;
    grid-template-columns: 1fr;
    grid-auto-flow: column
}

.q1 {
    padding-right: 6px;
    word-break: break-all;
    border-bottom: 1px solid #e6ebf1;
    gap: 0 6px;
    grid-area: auto/span 2;
    -webkit-box-align: center;
    align-items: center
}

.k7 {
    font-size: 16px;
    width: 264px;
    height: 533px;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 36px;
    background: #f6f9fc;
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3),inset 0 -2px 6px 0 rgba(10,37,64,.35)
}

.k8 {
    position: relative;
    height: 100%;
    border-radius: 34px;
    background: #fff;
    -webkit-mask-image: -webkit-radial-gradient(#fff,#000)
}

.f2 {
    display: grid;
    margin-top: 200px;
    -webkit-box-align: start;
    align-items: flex-start
}

@keyframes gradient-shift {
    0%,to {
        background-position: 58% 50%
    }

    25% {
        background-position: 100% 0
    }

    75% {
        background-position: 10% 50%
    }
}

.bu {
    font-family: Maxi-Book;
    font-size: 17px;
    position: relative;
    z-index: 1;
    display: inline-flex;
    overflow: hidden;
    height: 56px;
    padding: 4px 28px;
    transition: background .3s ease-in-out,border-color .3s ease-in-out,color .3s ease-in-out;
    letter-spacing: .07em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: 0 0;
    align-items: center;
    justify-content: center;
    font-feature-settings: 'salt'on,'ss01'on,'ss02'on
}

.bu:after,.bu:before {
    position: absolute;
    display: block;
    content: '';
    transform: translate3d(0,0,0)
}

.bu:before {
    z-index: -1;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    transition: background .3s ease-in-out;
    background: var(--bg-inverse)
}

.bu:after {
    z-index: -3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: gradient-shift 30s ease infinite;
    background: linear-gradient(269.16deg,#ffe580 -15.83%,#ff7571 -4.97%,#ff7270 15.69%,#ea5dad 32.43%,#c2a0fd 50.09%,#9867f0 67.47%,#3bf0e4 84.13%,#33ce43 105.13%,#b2f4b6 123.24%);
    background-position: 58% 50%;
    background-size: 500%;
    backface-visibility: hidden
}

.bu:hover {
    cursor: pointer;
    color: #000
}

.bu:hover:before {
    background: 0 0
}

.bu:not(.bu--sm) {
    min-width: 160px
}

.gr {
    background: linear-gradient(270.97deg,#ffe580 -21.36%,#ff7571 -2.45%,#ea5dad 26.84%,#c2a0fd 64.15%,#3bf0e4 108.29%,#b2f4b6 159.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.i1 {
    display: none
}

.bu.bu--lg {
    min-width: 100%
}

@media(min-width: 600px) {
    .f2[data-columns='2,2'] {
        grid-template-columns:repeat(2,1fr)
    }

    .i1 {
        display: block
    }

    .bu.bu--lg {
        min-width: 220px
    }
}

.d9 {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center
}

.f0 {
    width: 100%;
    max-width: 1440px
}

img.lmasked {
    filter: none
}

.q3 {
    font-size: clamp(1.125rem,1.0893rem + .1786vw,1.35rem);
    word-break: normal;
    color: var(--text)
}

.link {
    display: inline-flex;
    overflow: hidden;
    box-shadow: none!important
}

.link:after,.link:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    transition: transform .3s ease-in-out;
    transform: scaleX(1);
    transform-origin: right;
    background: #767676
}

.link:after {
    transition: transform .8s ease;
    transform: translate3d(-100%,0,0);
    background: var(--bg)
}

.link:hover:after {
    transform: translate3d(100%,0,0);
    transform-origin: left
}

.a2,.q5.ar,header#header {
    contain: layout
}

h1,h2,h3,h4,p,ul {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

.c0 {
    font-family: Maxi-Book;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: 0
}

.ca {
    font-size: .85em;
    letter-spacing: .15em;
    text-transform: uppercase
}

.c9 {
    position: absolute;
    right: 50%;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 1px;
    transition: width .26s cubic-bezier(.175,.885,.32,1.275);
    transform: translateX(-50%) translateZ(0);
    background-color: #000
}

.c9:hover,a:hover .c9 {
    width: 100%
}

.c8 {
    line-height: 0;
    display: block
}

.c8 {
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    color: inherit
}

.c1 {
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: opacity .4s;
    opacity: 1
}

.c3 {
    overflow: hidden;
    max-height: 67px
}

.c4 {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.c4::-webkit-scrollbar {
    display: none
}

.c5 {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: .3rem 0;
    list-style: none;
    animation-name: Swing;
    animation-duration: 1.28s;
    animation-delay: .6s;
    animation-iteration-count: 1;
    white-space: nowrap;
    place-content: space-between
}

.c6 {
    line-height: 3.125rem;
    display: inline-block;
    margin: 0 1.3rem;
    align-items: center;
    justify-content: center
}

.c6:first-of-type {
    margin-right: 0;
    margin-left: 14px
}

.c7 {
    font-family: Maxi-Book;
    position: relative;
    color: var(--title)
}

@media screen and (min-width: 1484px) {
    .c1 {
        display:none
    }
}

@media screen and (min-width: 1920px) {
    .c0 {
        font-size:1.375rem;
        line-height: 1.875rem
    }
}

@media screen and (min-width: 1484px) and (max-width:1919px) {
    .c0 {
        font-size:1.25rem;
        line-height: 1.75rem
    }
}

.header--fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0
}

.headroom {
    transition: transform .25s ease-in-out
}

.headroom--unpinned {
    transform: translateY(-100%)
}

.c2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    transition: background-color .5s cubic-bezier(.28,.11,.32,1);
    transition-property: background-color,backdrop-filter,-webkit-backdrop-filter;
    background-color: var(--nav-background);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)
}

[data-user-color-scheme=dark] {
    --title:rgb(221, 221, 221);--text:rgb(154, 154, 154);--bg:rgb(30, 30, 30);--bg-card:rgb(44, 44, 44);--head-logo:rgb(225 225 225);--img-filter-gray:grayscale(9%) saturate(87%) brightness(87%) contrast(99%);--displax:block;--displaz:none;--selection:#fff;--footer-height:68vh;--nav-background:var(--bg)}

.y4.y3 .y6 {
    visibility: visible;
    -webkit-transition: visibility 0s linear 0s,opacity .4s 0s;
    -o-transition: visibility 0s linear 0s,opacity .4s 0s;
    transition: visibility 0s linear 0s,opacity .4s 0s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1
}

.y4.lazyloaded .y6 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.y4.lazyloaded .u3.lazyloaded {
    visibility: visible;
    -webkit-transition: visibility 0s linear 0s,opacity 1s 0s;
    -o-transition: visibility 0s linear 0s,opacity 1s 0s;
    transition: visibility 0s linear 0s,opacity 1s 0s;
    opacity: 1
}
